.input {
  margin: 50px auto;
  width: 300px;
  font-size: 1.2em; }
  .input label {
    display: block;
    margin: 5px auto; }
  .input button,
  .input input {
    font-size: 0.9em; }
  .input button {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 5px 10px; }

.data-table {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .data-table .heading {
    margin: 0 0 20px;
    font-size: 1.2em;
    text-align: center; }
  .data-table .table,
  .data-table td,
  .data-table th {
    border: 1px solid #000; }
  .data-table .table {
    border-collapse: collapse; }
    .data-table .table td {
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 1.2em; }

.count-graph {
  margin: 20px auto;
  width: 600px; }
  .count-graph .heading {
    margin: 0 0 20px;
    font-size: 1.2em;
    text-align: center; }
